@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    .menu__item {
        &:not(:last-child) {
            padding: 0 8px 0 0;
        }
    }
    
    div.slider__menu_op {
        font-size: 14px;
    }



}

@media (max-width: 820px) { // 767

    .header__menu, .header__phone {
        display: none;
    }
    .header__burger {
        display: block;
    }

    // Контейнеры
    .about__container {
        flex-direction: column;
    }

    // lastWork
    .lastWork__works {
        flex-direction: column;
        & .lastWork__el {
            margin-bottom: 20px;
        }
    }
    // Table
    .table {
        flex-wrap: wrap;
    }
    .slider__menu {
        flex-direction: column;

    }


}

@media (max-width: 575px) {

}