// Container
$containerWidth: 1076px;

// Text
$titleSize: 37px;
$subtitleSize: 24px;
$paragraphSize: 18px;
$textMargin: 30px;

// Sections
$sectionMargin: 100px;

// Border
$blockBorderRadius: 20px;
$borderRadius: 50px;

// Colors
$subColor: tomato;
$mainColor: rgb(36, 36, 36);
$textOnBlack: azure;

// To remove! 
// Test 
$safePadding: 15px;

$lightExColor: rgba(0,0,0, 0.2)

