// Container
$containerWidth: 1076px;

// Text
$titleSize: 42px;
$subtitleSize: 21px;
$paragraphSize: 15px;
$textMargin: 30px;

// Sections
$sectionMargin: 70px;

// Border
$blockBorderRadius: 20px;
$borderRadius: 50px;

// Colors
$subColor: aqua;
$mainColor: rgb(36, 36, 36);
$textOnBlack: azure;

// To remove! 
// Test 
$safePadding: 15px;

$lightExColor: rgba(0,0,0, 0.2)

