// Container
$containerWidth: 1200px;

// Text
$titleSize: 39px;
$subtitleSize: 24px;
$paragraphSize: 18px;
$textMargin: 30px;

// Sections
$sectionMargin: 100px;

// Border
$blockBorderRadius: 20px;
$borderRadius: 50px;

// Colors
$subColor: rgb(0, 215, 215);
// rgb(0, 215, 215)
$mainColor: rgb(36, 36, 36);
$textOnBlack: white;

// To remove! 
// Test 
$safePadding: 15px;

$lightExColor: rgba(0,0,0, 0.2)

